<h1>Hello from the show view</h1>


<%= link_to "Modify the movie", edit_movie_path %>

<%= link_to "Delete the movie", movies_path(@movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
